:root {
  --size-1: 1rem;
  --size-2: 1.5rem;
  --size-3: 2rem;
  --size-4: 2.5rem;
  --color: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('/img/clouds.jpg');
  height: 100vh;
  background-size: cover;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif;
}

h1 {
  font-size: var(--size-4);
  text-align: center;
  padding: var(--size-3);
  color: var(--color);
}

p {
  padding: var(--size-1);
  font-size: var(--size-2);
  border: 2px grey solid;
  border-radius: 5px;
  color: var(--color);
}

#name-btn {
  font-size: var(--size-2);
  padding: var(--size-1);
  cursor: pointer;
  color: var(--color);
}
#names {
  padding: var(--size-1);
  font-size: var(--size-2);
  list-style: none;
  line-height: 2;
  margin: var(--size-2);
}

#searchbar {
  outline: none;
  font-size: var(--size-1);
  padding: 0.4rem;
}
#search-btn {
  cursor: pointer;
  outline: none;
  background: url('/img/search.svg') no-repeat;
  border-radius: 10%;
  height: 2.2rem;
  width: 2.2rem;
}
#search-btn:hover {
  background-color: #e7e6e6;
}