@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --size-1: 1rem;
  --size-2: 1.5rem;
  --size-3: 2rem;
  --size-4: 2.5rem;
  --color: #dce4fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url(/img/stars.jpg);
  height: 100vh;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: var(--size-4);
  text-align: center;
  padding: var(--size-3);
  color: var(--color);
}

p {
  padding: var(--size-1);
  font-size: var(--size-2);
  color: var(--color);
}

.searchWrapper input{
  display: block;
}
label {
  color: var(--color);
  display: block;
}
.error {
  color: #df4848;
}


.name-btn {
  font-size: var(--size-2);
  padding: var(--size-1);
  cursor: pointer;
  background-color: #adc6f5;
  margin: var(--size-1);
  border-radius: 0.2rem;
}
.name-btn:hover {
  background-color: #9cb5e2;
}
.names {
  padding: var(--size-1);
  font-size: var(--size-2);
  color: var(--color);
  list-style: none;
  line-height: 2;
  margin: var(--size-2);
}

.search-bar {
  outline: none;
  font-size: var(--size-1);
  padding: 0.4rem;
}
.search-btn {
  cursor: pointer;
  outline: none;
  background: url('/img/search.svg') no-repeat;
  border-radius: 0.2rem;
  background-color: #adc6f5;
  font-size: var(--size-1);
  height: var(--size-4);
  margin-top: var(--size-1);
  width: 13.5rem;
}
.search-btn:hover {
  background-color: #9cb5e2;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: var(--size-2);
  }
  li {
    font-size: var(--size-1);
  }
  .names,
  .name {
    font-size: var(--size-1);
  }
}