:root {
  --size-1: 1rem;
  --size-2: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: var(--size-2);
  text-align: center;
  padding-top: var(--size-2);
  padding-bottom: var(--size-1);
}

#names {
  padding: var(--size-1);
  font-size: var(--size-2);
}

p {
  padding: var(--size-1);
  border: 2px grey solid;
  border-radius: 5px;
}

#name-btn {
  font-size: var(--size-2);
  padding: var(--size-1);
}

#searchbar {
  outline: none;
  font-size: var(--size-1);
}
#search-btn {
  font-size: var(--size-1);
}